.Section {
  padding-top: 9px;
  padding-bottom: 17px;
  background-color: #e6e9f2;
  width: 100%;
}

@media screen and (min-width: 1920px) {
  .Section {
    padding-top: 29px;
    padding-bottom: 64px;
  }
}

.Container {
  width: 420px;
  height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}

@media screen and (min-width: 1920px) {
  .Container {
    width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}
